@page "/HelloDataBinding"

<h1>Hello, data binding in Blazor!</h1>

<div>
    <h2>One-Way Data Binding</h2>
    Employee first name: <label>@Employee.FirstName</label>
    Employee last name: <label>@Employee.LastName</label>
</div>

<div>
    <h2>One-Way on forms controls</h2>
    Employee first name:
    <input value="@Employee.FirstName" />
    Employee last name:
    <input value="@Employee.LastName" />
</div>

<div>
    <h2>Two-Way data binding</h2>
    Employee first name:
    <input @bind="@Employee.FirstName" />
    Employee last name:
    <input @bind="@Employee.LastName" />
</div>

<div>
    <h2>Two-Way data binding</h2>
    Employee first name:
    <input @bind="@Employee.FirstName" />
    Employee last name:
    <input @bind="@Employee.LastName" />
</div>

<div>
    <h2>Two-Way data binding on a different event</h2>
    Employee first name:
    <input @bind-value="Employee.FirstName" @bind-value:event="oninput" />
    Employee last name:
    <input @bind-value="Employee.LastName" @bind-value:event="oninput" />
</div>

<div>
    <button @onclick="ButtonClick">Click me</button>
</div>

@code {
    public PetShop.Shared.Employee Employee { get; set; }

    protected override Task OnInitializedAsync()
    {
        Employee = new PetShop.Shared.Employee
        {
            FirstName = "Brendan",
            LastName = "Eich"
        };

        return base.OnInitializedAsync();
    }

    public void ButtonClick()
    {
        Employee.FirstName = "Foobar";
    }
}
